.advice {
    background: #FAFAFA;
    min-height: 700px;
}
.advice__container {
    @include flex(flex-start, center);
    flex-direction: column;
    
    h2 {
        margin-top: 105px;
    }
    p {
        margin-bottom: 45px;
        text-align: center;
    }
    .advice__cards {
        @include flex(center, center);
        gap: 40px;
        .advice__card {
            position: relative;
            background: #FFFFFF;
            width: 230px;
            height: 320px;
            transition: 0.3s;
            &:hover {
                background: rgba($color: $blue, $alpha: 0.05);
            } 
            h5 {
                margin: 30px 0 0 30px;
                text-align: left;
                width: 140px;
            }
            p {
                margin: 15px 0 0 30px;
                width: 160px;
                text-align: left;
            }
            img {
                position: absolute;
                bottom: 0;
                height: 138px;
                width: 230px;

            }
        }
    }
}