.contact2 {
    background: #FAFAFA;
    min-height: 142px;
}

.contact2__container {
    @include flex (space-between, center);
    div {
        @include flex (center, flex-start);
        flex-direction: column;
        min-height: 142px;
    }
    h3 {
        font-family: $martel;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        color: $textblack;
        margin-bottom: 10px;
    }
    button {
        margin-right: 100px;
        background: $brown;
        border-radius: 5px;
        padding: 15px 40px;
        font-family: $opsans;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        transition: 0.3s;
        &:hover {
            background: #8a5b3b;
        }
    }
}

@media (max-width: 810px) {
    .contact2__container {
        div {
            margin-left: 30px;
        }
        button {
            margin-bottom: 20px;
            margin-left: 20px;
        }
    }
}


