// .wrapper {
//     background-image: url(/img/cover.png);
// }
.header {
    background-image: url(../img/cover.png);
    min-height: 785px;
}

.header__container {
    @include flex(space-between, space-between);
    flex-direction: column;
    min-height: 785px;
    position: relative;
    .logo {
        position: absolute;
        top: 35px;
        left: 15px;
        a {
            font-family: $martel;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: $textblack;
            letter-spacing: 0.1px;
        }
    }
    #burger__toggle {
        display: none;
      }
    .top {
        @include flex(space-between, center);
        flex-wrap: nowrap;
        height: 100px;
        .navbar {
            margin-left: 30vw;
            @include flex(center, center);
            .navbar_item {
                margin-left: 25px;
            }
            a {
                font-family: $opsans;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.2px;
                color: $textgray;
                transition: 0.3s;
                &:hover {
                    color: $textblack;
                }
            }
        }
        .search-and-cart {
            width: 50px;
            margin-left: 20px;
            margin-right: 50px;
            @include flex(space-between, center);
            flex-wrap: nowrap;
             a {
                height: 16px;
                width: 16px;
             }
        }
        .burger {
            display: none;
            position: absolute;
            top: 40px;
            right: 15px;
        }
    }
    .welcome {
        @include flex(space-between, center);
        flex-wrap: nowrap;
        .welcome__card {
            @include flex(center, flex-start);
            flex-direction: column;
            gap: 35px;
            margin-bottom: 150px;
            h1 {
                font-family: $martel;
                color: $textblack;
                font-size: 58px;
                font-weight: 900;
                line-height: 65px;
                max-width: 500px;
                letter-spacing: 0.2px;
            }
            h4 {
                font-family: $montserrat;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.2px;
                max-width: 380px;
                margin-bottom: 10px;
            }
            .welcome_btns {
                gap: 35px;
                @include flex(space-between, center);              
                .btn-1 {
                    width: 180px;
                    height: 48px;
                    color: #FFFFFF;  
                    font-family: $opsans; 
                    text-align: center;        
                    font-weight: 700;                        
                    padding: 10px 36px;
                    border-radius: 37px;
                    transition: 0.3s;
                    background: $brown;
                    &:hover {
                        background: rgba($color: $brown, $alpha: 0.9);
                    }
                    
                }
                .btn-2 {
                    color: $brown;
                    border: 1px solid $brown;
                    border-radius: 37px;
                    font-family: $opsans;  
                    text-align: center;    
                    font-weight: 700; 
                    width: 155px;
                    height: 48px;
                    padding: 10px 36px;
                    transition: 0.3s;
                    &:hover {
                        background: rgba($color: $brown, $alpha: 0.15);
                    }
                }
            }
        }
        .womanpic {
            display: flex;
            max-width: 550px;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}


@media (max-width: 929px) {
    .header__container {
        padding: 0 !important;
    }
    .welcome {
        margin-top: 80px;
        justify-content: center !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        h1 {
            font-size: 40px !important;
            font-weight: 700 !important;
            text-align: center;
            max-width: 400px;
        }
        h4 {
            text-align: center;
            margin-left: 15px;
        }
        .welcome_btns {
            flex-direction: column;
            align-self: center !important;
        }
        .welcome__card {
            align-items: center;
            width: 350px;
        }
    }
    .top {
        height: 100px !important;
        background: #F7F7F7 !important;
        .navbar {
            display: none !important;
        }
        .search-and-cart {
            position: absolute !important;
            top: 40px;
            right: 40px;
        }
        .burger {
            display: block !important;
            position: relative;
            width: 15px;
            height: 14px;
            &::before,
            &::after {
                position: absolute;
                content: '';
                background: $textgray;
                height: 2px;
                right: 0;
            }
            &::before {
                top: 0;
                width: 140%;
            }
            &::after {
                bottom: 0;
                width: 65%;
            }
            span {
                position: absolute;
                left: 0;
                background: $textgray;
                width: 100%;
                height: 2px;
                top: 6px;
            }
        }
    }
    #burger__toggle:checked ~ .top {
        height: 500px !important;
        justify-content: center !important;
        align-items: center !important;
        transition-duration: .2s;
        .navbar {
            margin: 50px 0 0 0 !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            flex-direction: column !important;
            .navbar_item {
                margin: 0 0 30px;
                a {
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 45px;
                }
            }
        }
      }
}

@media (max-width: 380px) {
    .welcome__card {
        width: 350px;
    }
}
